/*
	master css
*/

/* ------------------------------------------------------------ */
/* GENERAL #################################################### */
/* ------------------------------------------------------------ */
body { padding-top: 60px; font-family: georgia; font-style: italic; } /* 60px to make the container go all the way to the bottom of the topbar */

.hero-unit h1 { text-align: center; }
.hero-unit p { text-align: justify; text-justify:inter-word; }

blockquote#portfolio-heading-con h2 { color: #333; }


ul#thumbnails { margin: 0; list-style: none; }
	ul#thumbnails img { height: 360px; width: 360px; }
		/*ul#thumbnails img.img-polaroid { width: 360px; }*/
		ul#thumbnails img:hover { background: #00A876; }
		ul#thumbnails .span4 { margin-bottom: 20px; }
		ul#thumbnails .btn { margin-top: 10px; }
	

/*.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #D44413;
background-image: -moz-linear-gradient(top, #CE4213, #DD4814);
background-image: -ms-linear-gradient(top, #CE4213, #DD4814);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CE4213), to(#DD4814));
background-image: -webkit-linear-gradient(top, #CE4213, #DD4814);
background-image: -o-linear-gradient(top, #CE4213, #DD4814);
background-image: linear-gradient(top, #CE4213, #DD4814);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce4213', endColorstr='#dd4814', GradientType=0);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
}*/

.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background: #207e62; /* Old browsers */
background: -moz-linear-gradient(top,  #207e62 0%, #258e68 39%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207e62), color-stop(39%,#258e68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #207e62 0%,#258e68 39%); /* IE10+ */
background: linear-gradient(to bottom,  #207e62 0%,#258e68 39%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207e62', endColorstr='#258e68',GradientType=0 ); /* IE6-9 */

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

/*.navbar .nav > li > a{ color: white; text-shadow: none; }
.navbar > .navbar-inner a { color: white; text-shadow: none; }*/

.navbar .nav > li > a { color: white; text-shadow: none; }

.btn { 
background: #207e62; /* Old browsers */
background: -moz-linear-gradient(top,  #207e62 0%, #258e68 39%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207e62), color-stop(39%,#258e68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #207e62 0%,#258e68 39%); /* IE10+ */
background: linear-gradient(to bottom,  #207e62 0%,#258e68 39%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207e62', endColorstr='#258e68',GradientType=0 ); /* IE6-9 */

}

.btn:hover { 
background: #207e62; /* Old browsers */
background: -moz-linear-gradient(top,  #207e62 0%, #207e62 39%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207e62), color-stop(39%,#207e62)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #207e62 0%,#207e62 39%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #207e62 0%,#207e62 39%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #207e62 0%,#207e62 39%); /* IE10+ */
background: linear-gradient(to bottom,  #207e62 0%,#207e62 39%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207e62', endColorstr='#207e62',GradientType=0 ); /* IE6-9 */

}




.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top: 4px solid white; }



.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
color: white;
text-decoration: none;
/*background-color: #08C;
background-color: #0081C2;
background-image: -moz-linear-gradient(top,#08C,#0077B3);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08C),to(#0077B3));
background-image: -webkit-linear-gradient(top,#08C,#0077B3);
background-image: -o-linear-gradient(top,#08C,#0077B3);
background-image: linear-gradient(to bottom,#08C,#0077B3);
background-repeat: repeat-x;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
*/

background: #207e62; /* Old browsers */
background: -moz-linear-gradient(top,  #207e62 0%, #258e68 39%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207e62), color-stop(39%,#258e68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #207e62 0%,#258e68 39%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #207e62 0%,#258e68 39%); /* IE10+ */
background: linear-gradient(to bottom,  #207e62 0%,#258e68 39%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207e62', endColorstr='#258e68',GradientType=0 ); /* IE6-9 */

}





.navbar .brand { color: white; text-shadow: none;  }






@media (min-width: 769px) and (max-width: 1200px) {
	ul#thumbnails img { height: 350px; width: 97%; }
	
}

footer { height: 50px; }


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	ul#thumbnails .span4 { width: 352px; }
	body { padding-top: 0; }

	.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
color: #207E62;
text-decoration: none;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 1%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f2f2f2), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 1%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { color: white;  }

.nav-collapse .nav .nav-header { color: white; }

}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	ul#thumbnails .span4 { width: 100%; text-align: center; background: #EEE; padding-top: 10px; padding-bottom: 10px; border-radius: 6px; -webkit-border-radius: 6px; }
	blockquote#portfolio-heading-con { text-align: center; }
	ul#thumbnails .btn { width: 370px; margin-right: auto; margin-left: auto; } 
	body { padding-top: 0; }


	.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
color: #207E62;
text-decoration: none;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 1%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f2f2f2), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 1%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 1%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { color: white;  }


.nav-collapse .nav .nav-header { color: white; }



 }


/* Landscape phones and down */
@media (max-width: 480px) { 
	ul#thumbnails .btn { width: 100%; }
	ul#thumbnails img { width: 95%; }
	div.hero-unit p.pull-right { float: none; text-align: center;  } 
	
}

@media (max-width : 400px) {
	ul#thumbnails img { height: 250px; }
}
